<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret</title>
</head>

<body>
    <h1>The Secret is......</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam tempore assumenda iure nulla eveniet rerum
        qui, magnam asperiores! Molestias quis a quo veniam vero. Consequuntur nisi quo adipisci quod deleniti.
        Ipsa quaerat hic optio suscipit distinctio. Dignissimos qui quisquam, explicabo laudantium optio ipsa
        consequatur ipsam, placeat, aliquid ab laborum voluptate! Dolorem saepe non quaerat odio sint expedita dolor
        consequatur libero!
    </p>
    <form action="/logout" method="POST">
        <button>Logout</button>
    </form>
</body>

</html>