<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>

<body>
    <h1>Add A Product</h1>
    <form action="/products" method="POST">
        <ul>
            <section>
                <label for="name">Product Name:</label>
                <input type="text" name="name" placeholder="product name" id="name">
            </section>
            <section>
                <label for="price">Product Price:</label>
                <input type="number" name="price" placeholder="price" id="price">
            </section>
            <section>
                <label for="category">category:</label>
                <select name="category" id="category">
            </section>
            <% for(let cateogrie of cateogries){%>
                <option value="<%= cateogrie%> ">
                    <%= cateogrie%>
                </option>
                <% } %>
                    </select>
        </ul>
        <button>Submit</button>
    </form>

    <a href="/products">Back</a>
</body>

</html>