<%- include('partials/head') %>

    <body>


        <%- include('partials/navbar') %>
            <h1>
                <%="home page".toUpperCase() %>
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam harum, officia beatae consectetur quam
                natus
                suscipit incidunt mollitia dolor! Libero id nihil optio nam explicabo quis adipisci nesciunt laboriosam
                obcaecati?
            </p>
            <p> Maiores modi cum corporis eos inventore veniam officia alias. Esse cupiditate saepe distinctio fugiat at
                aperiam
                nihil facilis nesciunt, suscipit perspiciatis voluptatem quo similique modi! Sint perspiciatis dolores
                totam
                eligendi?
                Vel itaque deleniti quibusdam nulla pariatur magni distinctio delectus eveniet praesentium repudiandae
                vero
                nobis adipisci, ipsum suscipit unde. Modi quas quis ea nam autem. In nisi ad quos eaque obcaecati.
                Earum quis natus aperiam perspiciatis distinctio accusamus eius repellendus dignissimos doloremque dicta
                eveniet
                et omnis dolorem, ut at eaque repellat. Nihil tenetur ea ad reprehenderit eos quasi nesciunt vero
                tempora?
            </p>
    </body>

    </html>