<%- include('partials/head') %>

    <body>

        <%- include('partials/navbar') %>
            <h1>
                not found:
                <%= subreddit %>
            </h1>
    </body>

    </html>