<%- include('partials/head') %>

    <body>
        <%- include('partials/navbar') %>

            <h1>
                your random number is:<%= rand %>
            </h1>
            <% if(rand % 2===0){%>
                <h2>That is even number!</h2>
                <%} else {%>
                    <h2>That is odd number!</h2>
                    <%}%>
                        <h3>
                            <%= rand%2===0?'even':'odd'%>
                        </h3>

    </body>

    </html>